<!DOCTYPE html>
<html>
  <%include ../skel/header %>
  </head>
  <body style="background-image:url('img/back2.jpg')">
    <div style="background-color:rgba(0,0,90,0.3);height:99vh">
      <div class="spacer" style="height:30vh"></div>
      <div class="row">
        <div class="container">
          <div class="form-group row">
            <label for="username" class="col-2 col-form-label" style="color:white">Username</label>
            <div class="col-10">
              <input class="form-control" type="text" placeholder="Enter your username here" id="username">
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-2 col-form-label" style="color:white">Password</label>
            <div class="col-10">
              <input class="form-control" type="password" id="password">
            </div>
          </div>
          <div class="form-group row">
            <button type="submit" id="btsubmit" class="btn btn-primary">Submit</button>
          </div>
        </div>

      </div>
    </div>
    <%include ../skel/scripts %>
    <%include ../src/scripts/admin-main.ejs %>
  </body>
</html>
