  <head>
    <meta charset="utf-8">
    <title><%= title%></title>
    <link rel="stylesheet"  href="/lib/styles/bootstrap.min.css">
    <link rel="stylesheet"  href="/lib/styles/bootstrap-theme.min.css">
    <link rel="stylesheet"  href="/lib/styles/font-awesome.min.css">
    <link rel="stylesheet"  href="/lib/styles/jquery-ui.min.css">
    <script type="text/javascript">
      window.onload=function(){
          $(function(){
              if(window.location.protocol==="https:")
                  window.location.protocol="http";
          });
      }
    </script>
